.header {
    padding-top: 1px;
    height: 120px;
    background-color: var(--primary-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--qr:hover .header__qr {
    display: block;
}

.header__navbar-item, 
.header__navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    text-decoration: none;
}

.header__navbar-item, 
.header__navbar-link, 
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover, 
.header__navbar-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #fff;
    right: -9px;
    top: 0;
    margin-top: 4px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    display: none;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 08px;
    width: 186px;
    background-color: var(--white-color);
    border-radius: 2px;
    animation: fadeIn ease 0.5s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 18px;
}

/* Header notification */
.header__navbar-item--notify:hover .header__notify {
    display: block;
}

.header__notify {
    display: none;
    position: absolute;
    top: 118%;
    right: 0;
    border: 1px solid #d3d3d3;
    width: 404px;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) 0;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
}

.header__notify::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__notify::after {
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -26px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    cursor: text;
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    padding: 12px;
}

.header__notify-item:hover {
    background-color: azure;
}

.header__notify-item--viewed {
    background-color: rgb(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--text-color);
}

.header__notify-description {
    display: block;
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Register modal */
.authen-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.authen-form__container {
    padding: 0 32px;
}

.authen-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.authen-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    padding-left: 12px;
}

.authen-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.authen-form__input {
    width: 94%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.authen-form__input:focus {
    border-color: #777;
}

.authen-form__aside {
    margin-top: 18px;
}

.authen-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 12px;
    text-align: center;
}

.authen-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.authen-form__controls {
    display: flex;
    justify-content: right;
    margin-top: 80px;
}

.authen-form__controls--back {
    margin-right: 8px;
}

.authen-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 24px;
}

.authen-form__socials-icon {
    font-size: 1.6rem;
}

.authen-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.authen-form__socials--facebook:hover,
.authen-form__socials--google:hover {
    filter: brightness(70%);
}

.authen-form__socials--facebook.authen-form__socials-icon {
    color: var(--white-color);
}

.authen-form__socials-title {
    margin: 0 36px;
}

.authen-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

/* Login modal */
.authen-form__help {
    display: flex;
    justify-content: flex-end;
}

.authen-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.authen-form__help-separate {
    display: block;
    height: 16px;
    border-left: 1px solid var(--border-color);
    margin: 0 16px;
}

.authen-form__help-forgot {
    color: var(--primary-color);
}